<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Course Match</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="sidebar">
		<div class="uname">amol_mandhane</div>
		<div class="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Add Course</a></li>
				<li class="active"><a href="#">CL-244</a></li>
			</ul>
		</div>
		<div class="footer">
			&copy; Copyright 2012 - Amol Mandhane &nbsp;&nbsp;&nbsp;
		</div>
	</div>
	<div class="main">
		<div class="mails">