<%= erb :header %>
<div class="table">
				Syncing emails for the course. Might take a minute.<br>
			</div>
			<script>
				var xmlhttp;
				if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
					xmlhttp=new XMLHttpRequest();
				}
				else{// code for IE6, IE5
					xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
				xmlhttp.onreadystatechange=function(){
					if (xmlhttp.readyState==4 && xmlhttp.status==200){
						if(xmlhttp.responseText == 'DONE'){
							document.location = '/sync_complete';
						}
					}
				}
				xmlhttp.open("GET","/partial_sort",true);
				xmlhttp.send();
			</script>
<%= erb :footer %>